= render '/layouts/sideber', locals: { messages: @messages }

.main
  .main__header
    .main__header__left
      .main__header__left__group-name
        = @group.name
      .main__header__left__member
        = @group.users.pluck(:name).join(", ")
    .main__header__edit
      = link_to "edit", edit_group_path(@group)
  .main__body
    .main__body__message-list
      = render @messages
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :text, class: "form__message", placeholder: "type a message"
      .form__mask
        = f.label :image, class: "form__mask__image" do
          = fa_icon "image", class: "icon"
          = f.file_field :image, class: "hidden"
      = f.submit "Send", class: "form__submit"
