!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ChatSpace2
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  %body

.header
  .header_message message
.sidebar
  .sidebar_top
    .sidebar_top_name user name
    %ul.sidebar_top_icon
      %li
        = link_to "#" do
          = fa_icon "edit"
      %li
        = link_to "#" do
          = fa_icon "cog"
  .sidebar_bottom
    .sidebar_bottom_group
      .sidebar_bottom_group-name group name
      .sidebar_bottom_group-message group new message
.main
  .main_top
    .main_top_left
      .main_top_left_group-name group name
      .main_top_left_member MEMBER: members name
    .main_top_edit
      %a{:href => ""} Edit
  .main_bottom
    .main_bottom_message-list
      .main_bottom_message-list_message
        .main_bottom_message-list_message_user-name
        .main_bottom_message-list_message_day
        .main_bottom_message-list_message_text
      .main_bottom_message-list_message
        .main_bottom_message-list_message_user-name user name
        .main_bottom_message-list_message_day day
        .main_bottom_message-list_message_text message
  .main_footer
    %form.main_footer_box
      %input{:placeholder => "type a message", :type => "text", :class => "input"}
      .image
        = link_to "#" do
          = fa_icon "image"
      %input{:type => "submit", :value => "Send", :class => "submit"}
